.jumbotron{
    font-family: cursive;
    top: 55px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    text-align: right;
    position: fixed;
    margin-bottom: 0px;
    z-index: 1;
  

}

.first-img{
    position: fixed;
    top: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
}



.col-8{
    background-color:white;
    position: fixed;
    top: 250px;
    left: 320px;
    height: 50%;
    width: 1000px;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 1.5rem;
    font-family: cursive;

}